@media screen and (min-width: 360px) and (max-width: 768px) {
    
    header {
      background: #1274a4de;
      width: 360px;
      height: 89px;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px 1px #221;
      min-width: 360px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
  }
  
  .logo {
    padding: 4px 2px 0;
    position: absolute;
    cursor: pointer;
  }

  ul {
    display: none;
  }

  #presapp {
    display: none;
  }
  
  .slider-container {
    border: 2px solid #81848c;
    height: 360px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background: #fff;
    box-shadow: 2px 4px 7px #39363654;
    width: 100%;
    margin: auto;
  
}
.container-map {
  display: flex;
  flex-direction: column;
}

.playpause {
  position: absolute;
  bottom: 1px;
  left: 37%;
  padding: 5px 10px;
  background: #fff;
}

.station-info {
  border: 3px inset #000;
  border-radius: 6px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
}

#canvas {
  background-color: #fdfbff;
  border: 1px inset black;
  box-shadow: 3px 3px 0 0 #80808040;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

}