@media only screen and (max-width: 360px) {
  
  header {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 1px #221;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

   /*main*/
  main {
    margin: 0 10px;
  }
  
    
  .logo {
    padding: 2px 2px 0;
  }

    .logo img {
      width: 80px;
    }

  ul {
    display: none;
  }

    
  .slider-container {
    height: 250px;
    position: relative;
    width: 320px;
    min-width: 310px;
  }

  .slider-container .slides-item .item {
    width: 300px;
    height: 220px;
    padding: 13px 11px 10px 11px;
  }

  .slider-container .slides-item .item .caption {
      display: none;
  }
  	
  	/* .slider-container .slides-item .item img {
      
  } */

  .playpause {
    display: none;

  }

  .container-map {
    height: 500px;
  }

  #canvas {
    background-color: #fdfbff;
    border: 1px inset black;
    box-shadow: 3px 3px 0 0 #80808040;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  /* ***information sur nos station*** */
  #station-info {
    border: 3px inset #000;
    border-radius: 6px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  form #btnreserve {
    line-height: 2.4;
    padding: 0 0.8em;
  }

  #infosReservation {
    bottom: -69em;
  }

  #reservation {
    font-size: 16px;
    padding: 4px;
  }

  #reservationDate {
    line-height: 20px;
    text-align: center;
  }

  /*footer*/
  footer{
    padding: 12px;
    margin-top: 160px;
    bottom: -58em;
  }
  .footer-countainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px;
    background: #eae8e8;
    line-height: 18px;
    flex-direction: column;
  }
  .left-col {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    letter-spacing: 1px;
    text-align: center;
  }
}