*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    padding: 10px 0px 0px 0px;
    margin: 0;
}

/* ********Body*********** */
/* ************************* */
body{
    font-family: 'roboto', serif;
    margin: 0;
    
}

/* ********Header*********** */
/* ************************* */
header{
    background: #434859;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    box-shadow: 0 5px #221;
}

.inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.logo{
    padding: 4px 2px 0;
    position: absolute;
    left: 0;
    cursor: pointer;
}
.logo img{
    height: 78px;
    padding: 4px 3px;
    width: 90px;
    border-radius: 50%;
    animation: log-pulse 1.5s infinite;
}

/* ********animation-logo*********** */
@keyframes log-pulse {
    to {
        box-shadow: 0 0 0 2px #ff8875b3;
    }
}

/* ********Menu.hearde*********** */
/* ************************* */
ul{
    position: absolute;
    display: flex;
    right: 0;
}

ul li{
    list-style: none;
}

ul li a {
    position: relative;
    display: block;
    padding:  10px 20px;
    margin:  20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: ghostwhite;
    font-weight: bold;
}

ul li a:hover{
    background: #ff8875;
    color: #434859;
    border-radius: 50px;

}

/* ********Titre -page d'accueil*********** */
h1{
    text-align: center;
    color: #434859;
    margin: 10px;
    animation-duration: 5s;
    animation-name: titre-1; 
}

/* ********animation h1*********** */
@keyframes titre-1 {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* **********Main********** */
/* ************************* */
main{
    width: 90%;
    margin: 10px auto;
    padding: 10px 10px;
}

h2{
    text-align: center;
    margin: 10px;
}

/* **********Section Slider********** */
/* ********************************* */

.slider-container {
	position: relative;
    border: 2px solid #81848c;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    box-shadow: 2px 4px 7px #39363654;
    margin: auto;
    max-width: 1200px;
    animation-duration: 0.5s;
    animation-name: slidcon;
}

@keyframes slidcon {
from {
    opacity: 0;
    transform: translateX(-100px);
}
to {
    opacity: 1;
    transform: translateX(0px);
}
}

/* ********listes d'items*********** */
/* ************************* */
.slider-container .slides-item{
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-container .slides-item .item{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
}

.slider-container .slides-item .slide-active{
    opacity: 1;
}

.slider-container .slides-item .item img{
    width: 100%;
    height: 100%;
}

/* *******Texte/presentation de notre Appl******** */
/* ************************* */
.slider-container .slides-item .item .caption{
    position: absolute;
    margin:  0 auto;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    font-size: 22px;
    background: #0000004d;
    bottom: 15px;
}

/* ******Flêches de navigation********* */
/* ************************* */
#left, #rigth{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 5px;
    z-index: 1;
    transition: background 0.5s;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height:50px;
}

#rigth{
    left: auto;
    right: 5px;
    border-radius: 50%;
    height:50px;
}

#left span{
    position: absolute;
    left: 15px;
    margin-top: 10px;
}

#rigth span{
    position: absolute;
    right: 15px;
    margin-top: 10px;
}


#left:hover, #rigth:hover{
    background: #f7f2f2a1;
    cursor: pointer;
    color: #3186b0;
}

/* ******Boutons play_pause********* */
/* ************************* */
.playpause{
    position: absolute;
    bottom: 2px;
    left: 50%;
    padding: 0px 10px;
    color: #434859;
}

#play:hover, #pause:hover{
    cursor: pointer;
    color: #ff8875;
}

/* **********Section Station********** */
/* ********************************* */

.section_map_station{
    padding-top: 2em;
    position: relative;
}

.container-map{
    display: flex;
}

.container-map .carte{
    width: 100%;
    height: 596px;
    border: #221;
    padding: 30px;
}

/* ***information sur nos station*** */
#station-info{
    border: 3px inset #000;
    border-radius: 6px;
    width: 350px;
    height: auto;
    margin: 0 6px;
    text-align: center;
    display: none;
}

/* *****notre formulaire***** */
/* ************************* */

form{
    margin: 7px 7px 0px 7px;
    text-align: center;
    line-height: 24px;
}

label{
    font-weight: bold;
    color: #354552;
}

form input[type="text"] {
    text-align: center;
    padding: 15px 30px;
    border: none;
    background-color: #d2caca;
    font-size: 16px;
    color: #293043;
    font-weight: 500;
    border-radius: 30px;
    min-width: 260px;
    outline: none;
}

/* bouton formulaire */
form #btnreserve{
    background-color: #ff8875;
    display: inline-block;
    cursor: pointer;
    font-family: 'roboto';
    font-size: 17px;
    text-decoration: none;
    margin: 8px 3px 8px 3px;
    display: inline-block;
    text-transform: none;
    border-radius: 20px;
    line-height: 2.4;
    padding: 0 2.8em;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
}

form #btnreserve:hover {
	color: #ff8875;
	background-color:#f1f1f1;
}

/* ************canvas************* */
/* ****************************** */
#canvas{
    background-color: #fdfbff;
    border: 1px inset black;
    box-shadow: 3px 3px 0 0 #80808040;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: none;
}

#controlCanvas{
    margin: 6px;
    display: none;
    text-align: center;
}

/* ************bouton canvas************* */
#clearCanvas, #validCanvas{
    background-color: #ff8875;
    cursor: pointer;
    font-family: 'roboto';
    font-size: 15px;
    text-decoration: none;
    margin: 8px 3px 8px 3px;
    display: inline-block;
    text-transform: none;
    border-radius: 20px 0;
    line-height: 2.4;
    padding: 0 2.8em;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
    
}
    #clearCanvas:hover, #validCanvas:hover {
        color:#ff8875;
        background-color:#f1f1f1;
    }
   

/* ************infosreservation-timer************* */
#infosReservation{
    position: absolute;
    bottom: -31%;
    text-align: center;
    left: 0;
    right: 0;
    text-transform: uppercase;
    border: #171717 1px dotted;
    background: #505554;
    border-radius: 10px;
    height: 30%;
    display: none;
}

#reservation{
    text-align: center;
    text-transform: initial;
    background: #ff8875;
    border-radius: 9px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    color: #403838;
    font-weight: bold;
}

#reservationDate {
    text-transform: uppercase;
    background: transparent;
    border-radius: 12px;
    text-align: center;
    border: 1px dotted #000;
    padding: 10px;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 37px;
    line-height: 9px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#canceledreservation{
    height: 30px;
    width: 84px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 6px;
    background-color: #e65151b8;
    color: cornsilk;
    font-weight: bolder;
    font-family: roboto;
}
#canceledreservation:hover{
    border-radius: 5px;
    background: linear-gradient(45deg, #2bbda9, #7c95a2, #f1f7f6, #5bb5ac );
    color: #3c3e3d;
}

/* ************footer************* */
footer{
    padding: 28px;
    margin-top:180px;
    position: relative;
}

.footer-countainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 4px 4px 37px;
    background: #eae8e8;
    line-height: 18px;
}

.left-col{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    letter-spacing: 3px;
}
.photo-ide-footer{
    width: 60px;
    height: auto;
    border: 2px solid darkkhaki;
    cursor: pointer;
    border-radius: 50%;
}
.social-media{
    margin:20px 0;
}

.social-media a{
    color: #2f2e2d;
    margin-right: 25px;
    font-size: 20px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover{
    color: #c86916;
}
